.img{
    width: 200px;
    height: 200px;
  float: right;
  margin: 10px;
  display: block;
  border: 2px solid black;
}
.li-class{
    color: cadetblue;
    font-weight: bold;
}
#item{
    color: brown;
    font-weight: bold;
}
.li-class:last-child{
color: red;
font-weight: bold;
}
